/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */
.logo
{
	margin: 0 auto;
	height: 200px;
	width:144px;
	padding-top:100px;
}

.nav
{
	height: 20px;
	margin-top:20px;
}

.ulmenu
{
	list-style-type: none;
	display: inline;	
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

.limenu
{
	float:right;
	margin-left:40px;
}

.topbottom_wrapper
{
	padding-bottom:50px;
}

.container_wrapper
{
	padding: 20px 0;
	background: #FFF;
}

.tweet video 
{
	max-width: 100%;
}

.tweet .account {
	width: 100%;
	position: relative;
	margin-top: 10px;
	margin-bottom: 65px;
}

.tweet .profilePic {
	position: absolute;
	left: 0;
	top: 0;
}

.tweet .author {
	text-transform: capitalize;
	font-weight: bold;
	vertical-align: top;
	
	position: absolute;
	left: 50px;
	top: 5px;
}

.tweet .authorLink {
	font-size: 0.9em;
	
	position: absolute;
	left: 50px;
	top: 25px;
}

.tweet .followButton {
	position: absolute;
	right: 0px;
	top: 5px;
}

.tweet .text {
	font-size: 1.1em;
	font-style: italic;
}

ul.icons li{
	float: right;
	margin: 0 2%;
	display: inline;
}

.tweet .video {
	width: auto;
	position: relative;
}

.tweet .video button {
	position: absolute;
	top: 5px;
	left: 5px;
}

.howlist
{ 
	font-size: 0.9em;
}

.alert {
	width: 80%;
	padding: 10px 8%;
	margin: 10px auto;
	background-color: darkred;
	color: white;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/