
/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Video Styles
================================================== */
.tweet video 
{
	max-width: 100%;
}

.tweet .account {
	width: 100%;
	position: relative;
	margin-top: 10px;
	margin-bottom: 65px;
}

.tweet .profilePic {
	position: absolute;
	left: 0;
	top: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.tweet .author {
	text-transform: capitalize;
	vertical-align: top;
	font-family: "Sansus";
	font-size: 1.3em;
	line-height: 1.6em;
	position: absolute;
	left: 55px;
	top: 3px;
}

.tweet .authorLink {
	font-size: 1em;
	
	position: absolute;
	left: 55px;
	top: 20px;
}

.tweet .followButton {
	position: absolute;
	right: 0px;
	top: 5px;
}

.tweet .text {
	font-size: 1.1em;
	line-height: 1.3em;
	position: relative;
	top: 5px;
	font-family: "OpenSans";
}

ul.icons li{
	float: right;
	margin: 0 2%;
	display: inline;
	margin-top:5px;
}

.tweet .video {
	width: auto;
	position: relative;
}

.tweet .video button {
	position: absolute;
	top: 5px;
	left: 5px;
}
/* #Page Styles
================================================== */
.logo_content
{
	margin: 0 auto;
	padding-top:110px;
	padding-bottom:90px;
}
.logo
{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 601px;
}

.nav
{

	height: 20px;
	margin-top:20px;
}

ul.textcolumn
{
	font-size:16px;
}

.ulmenu
{
	list-style-type: none;
	display: inline;	
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	font-size:16px;
	text-align:center;
}

.ulmenu a:link {text-decoration: none;}

.limenu
{
	text-align:center;
	padding-top:18px;
}



.topbottom_wrapper
{
	
	padding-bottom:60px;
}

.bg_bottom
{
background:	linear-gradient(#BCED91 49%, transparent 49%),
		linear-gradient(-45deg, white 33%, transparent 33%) 0 50%,
		white linear-gradient(45deg, white 33%, #BCED91 33%) 0 50%;
	background-repeat: repeat-x;
	background-size: 1px 100%, 40px 40px, 40px 40px;
min-height: 100%;
}

.container_wrapper
{
	background: #FFF url(../images/background_triangels.png) repeat-x center top;
	padding-top:50px;
}


.arrow
{
	text-align:center;
	padding-bottom:40px;
}




.wrappervideos
{ 
	padding-top:50px;
	padding-bottom:50px;
}

.howlist
{ 
	font-size:12px;
}

.video
{
	margin-top:20px;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */


@font-face {
    font-family: 'Sansus';
    src: url('../fonts/Sansus.eot');
    src: local('☺'), url('../fonts/Sansus.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansus.ttf') format('truetype'),
         url('../fonts/Sansus.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.eot');
    src: local('☺'), url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
